
/*marginaalit*/

html {
    margin: 15px;
    font-family: Arial, Helvetica, sans-serif;
}

/*tilat reunoille*/

.row {
    gap: 20px;
}

/*tietovisan kuvat*/

.car, .football, .basketball, .volleyball, .icehockey, .baseball, .american, .tennis, .badminton, .running, .gym {
    background-image: cover;
    width: 100%;
}

/*vastaustekstien lihavointi*/

#football, #basket, #volleyball, #icehockey, #baseball, #american, #tennis, #badminton, #race, #fitness {
    font-weight: bold;
}

/*virheilmoituksen määrittely*/

#football_error, #basket_error, #volleyball_error, #icehockey_error, #baseball_error, #american_error, #tennis_error, #badminton_error, #race_error, #fitness_error {
    color: red;
}

/*otsikoiden määrrittely*/

h6 {
    font-size: 15px;
    padding-top: 10px;
    font-weight: bold;
}

/*Fonttien pienentäminen responsoinnin takia*/

@media only screen and (max-width: 489px) {
   h6, p, label {
       font-size: 14px;
   }

   h4 {
       font-size: 20px;
   }

  }








