/* Tekstien tyylittely ja väritykset (Joona Niemelä)
*/

/*NavBra
*/
html{
    margin: 10px;
    font-family: Arial, Helvetica, sans-serif;
}
/*[class*="col"] {
    border: 2px solid black;
    border-radius: 5px;
    background-color: rgb(226, 226, 226);
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
*/
.row > [class*="col"] {
    padding: 0px;
}

.navbar-nav img{ 
    float: left;
    height: 100px;
    margin: 20px;
}

#navbarSupportedContent img{ 
    float: left;
    height: 100px;
    margin: 20px;
}

.navbar-nav li{
    font-size: 20px;
    margin: 0px 0 0 ;
    margin-left:30%;
}

th, td {
    padding-right: 40px;
}


th {
    color:  rgb(22, 21, 21);
    font-weight: 645;
    
}

#flush {
    background-color: orange;
}

/*
#photoContainer img {
    height: 100%;
    width: 100%;
}
*/

#photoContainer {
    display:flex;
    align-items: center;
    height: 500px;
    background-image: url(../logoAndBackgroundImage/Background\ image.jpg); 
}

#photoContainer p{
    padding: 50px;
}

#usersPortal {
    height: 500px;
    background-image: url(../logoAndBackgroundImage/Background\ image.jpg); 
}

/* Muutoksia sidebardin ja articlen väleihin */

.pl-3 { 
    padding-left: 8px !important; 
} 

/* Sidebarin lihavointi */

div > a {
    color: rgb(22, 21, 21);
}

div > a:hover {
    font-weight: 645;
    color: black;
}

span {
    font-weight: normal;
}

@media only screen and (max-width: 575px) {
    .pl-3 {
        padding-left: 0px !important;
    }

    #photoContainer p {
        padding-left: 10px;
        text-align:left;
    }

    a.nav-link {
        font-size: 14px;
    }

    p, th, td, a{
        font-size: 14px;
    }

    .accordion-button {
        font-size: 14px;
    }
  }











