*, *::before, *::after {
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

.hide {
    display: none;
}

:root {
    --hue-neutral: 270;
    --hue-wrong: 0;
    --hue-correct: 145;
}

body {
    background-color: rgba(71, 71, 71, 0.288);
    background-image: url(kuvat/affinity\ photo.png) ;
    padding: 0;
    margin: 0;
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.body.correct {
    --hue: var(--hue-correct);
}

.results {
    text-align: center;
    font-size: 50px;
    background: linear-gradient(rgb(216, 45, 255), rgb(50, 20, 255));
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.napit {
    border-radius: 5px;
    padding: 5px 10px;
    outline: none;
    --hue: var(--hue-neutral);
    border: 4px solid hsl(var(--hue), 100%, 30%);
    background-color: hsl(var(--hue), 100%, 50%);
    color: rgb(255, 255, 255);
}

.nappigrid {
    display: grid;
    grid-template-columns: repeat(3, auto);
    gap: 7px;
    margin: 10px 0;
}

.napit:hover {
    border-color: rgb(19, 19, 19);
}

.napit.correct {
    --hue: var(--hue-correct);
    color: black;
}

.napit.wrong {
    --hue: var(--hue-wrong);
}

.strtbutton, .nxtbutton, .rtrnbutton {
    font-size: 2rem;
    font-weight: bold;
    padding: 10px 20px;
}

.buttons {
    justify-content: center;
    align-items: center;
    display: flex;
}

.box {
    width: 550px;
    max-width: 80%;
    box-shadow: 0 0 5px 5px;
    padding: 15px;
    background-color: white;
}

